tataCoding/Help/epoukaz_dokumentace_pro_vyvojare_v9/WSDL_XSD/CommonWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sukl.cz/erp/common" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.w3.org/2000/09/xmldsig#" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.sukl.cz/erp/common" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
	  <schema xmlns="http://www.w3.org/2001/XMLSchema">
		  <import namespace="http://www.sukl.cz/erp/common" schemaLocation="CommonSchema.xsd"></import>
	  </schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="dotaz" element="tns:LoginDotaz" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="LoginResult" element="tns:LoginOdpoved" />
  </wsdl:message>
  <wsdl:message name="SeznamPredpisuDleDokladuVseSoapIn">
    <wsdl:part name="dotaz" element="tns:SeznamPredpisuDleDokladuDotaz" />
  </wsdl:message>
  <wsdl:message name="SeznamPredpisuDleDokladuVseSoapOut">
    <wsdl:part name="SeznamPredpisuDleDokladuVseResult" element="tns:SeznamPredpisuDleDokladuOdpoved" />
  </wsdl:message>
  <wsdl:message name="GetAppInfoSoapIn">
    <wsdl:part name="AppInfoDotaz" element="tns:AppInfoDotaz" />
  </wsdl:message>
  <wsdl:message name="GetAppInfoSoapOut">
    <wsdl:part name="GetAppInfoResult" element="tns:AppInfoOdpoved" />
  </wsdl:message>
  <wsdl:message name="AppPingSoapIn">
    <wsdl:part name="AppPingDotaz" element="tns:AppPingDotaz" />
  </wsdl:message>
  <wsdl:message name="AppPingSoapOut">
    <wsdl:part name="AppPingResult" element="tns:AppPingOdpoved" />
  </wsdl:message>
  <wsdl:message name="AppPingZEPSoapIn">
    <wsdl:part name="AppPingZEPDotaz" element="tns:AppPingZEPDotaz" />
  </wsdl:message>
  <wsdl:message name="AppPingZEPSoapOut">
    <wsdl:part name="AppPingZEPResult" element="tns:AppPingZEPOdpoved" />
  </wsdl:message>
  <wsdl:portType name="CommonWebServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SeznamPredpisuDleDokladuVse">
      <wsdl:input message="tns:SeznamPredpisuDleDokladuVseSoapIn" />
      <wsdl:output message="tns:SeznamPredpisuDleDokladuVseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <wsdl:input message="tns:GetAppInfoSoapIn" />
      <wsdl:output message="tns:GetAppInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppPing">
      <wsdl:input message="tns:AppPingSoapIn" />
      <wsdl:output message="tns:AppPingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AppPingZEP">
      <wsdl:input message="tns:AppPingZEPSoapIn" />
      <wsdl:output message="tns:AppPingZEPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonWebServiceSoap" type="tns:CommonWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeznamPredpisuDleDokladuVse">
      <soap:operation soapAction="SeznamPredpisuDleDokladuVse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <soap:operation soapAction="GetAppInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppPing">
      <soap:operation soapAction="AppPing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppPingZEP">
      <soap:operation soapAction="AppPingZEP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonWebServiceSoap12" type="tns:CommonWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeznamPredpisuDleDokladuVse">
      <soap12:operation soapAction="SeznamPredpisuDleDokladuVse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <soap12:operation soapAction="GetAppInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppPing">
      <soap12:operation soapAction="AppPing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppPingZEP">
      <soap12:operation soapAction="AppPingZEP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonWebService">
    <wsdl:port name="CommonWebServiceSoap" binding="tns:CommonWebServiceSoap">
      <soap:address location="http://localhost:49646/Endpoints/CommonWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonWebServiceSoap12" binding="tns:CommonWebServiceSoap12">
      <soap12:address location="http://localhost:49646/Endpoints/CommonWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>